<div class="card">
  <div class="card-header">
    {{city.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Temperatura {{city.info.currently.temperature}} F</h5>
    <p class="card-text">Hora Actual {{city.info.currently.time | date:'shortTime':city.info.timeZone}}</p>

  </div>
</div>
